<div class="w-full h-screen bg-blue-50 flex flex-column justify-content-center align-items-center">
    <div class="p-5 bg-white w-5 h-auto shadow-2 border-round">
        <div class="text-center mb-5">
            <img src="assets/images/logo.png" alt="logo" height="60" class="mb-5" />
            <h1 class="text-4xl font-bold text-900">РЕДАКТИРОВАНИЕ ПАРОЛЯ</h1>
        </div>
        <div class="w-full">
            <form #editPasswordForm="ngForm" (ngSubmit)="onSaveChanges()" novalidate>
                <label for="old-password" class="text-lg">Старый пароль:</label>
                <p-inputgroup>
                    <p-inputgroup-addon class="border-1 border-black-alpha-60">
                        <i class="pi pi-clock"></i>
                    </p-inputgroup-addon>
                    <input pInputText id="old-password" type="password"
                        class="w-full border-round-right border-1 border-black-alpha-60 p-2 text-xl"
                        [(ngModel)]="oldPassword" name="oldPassword" required #oldPasswordRef="ngModel"/>
                </p-inputgroup>
                <div *ngIf="oldPasswordRef.invalid && oldPasswordRef.touched" class="text-red-500">Поле обязательно для заполнения.</div>
                <div class="mb-5"></div>

                <label for="new-password" class="text-lg">Новый пароль:</label>
                <p-inputgroup>
                    <p-inputgroup-addon class="border-1 border-black-alpha-60">
                        <i class="pi pi-lock"></i>
                    </p-inputgroup-addon>
                    <input pInputText type="password" id="new-password"
                        class="w-full border-round-right border-1 border-black-alpha-60 p-2 text-xl"
                        [(ngModel)]="newPassword" name="newPassword" required minlength="8" #newPasswordRef="ngModel"/>
                </p-inputgroup>
                <div *ngIf="newPasswordRef.invalid && newPasswordRef.touched" class="text-red-500">Минимум 8 символов.</div>
                <div class="mb-5"></div>

                <label for="confirm-password" class="text-lg">Подтвердите пароль:</label>
                <p-inputgroup>
                    <p-inputgroup-addon class="border-1 border-black-alpha-60">
                        <i class="pi pi-check-circle"></i>
                    </p-inputgroup-addon>
                    <input pInputText type="password" id="confirm-password"
                        class="w-full border-round-right border-1 border-black-alpha-60 p-2 text-xl"
                        [(ngModel)]="confirmPassword" name="confirmPassword" required #confirmPasswordRef="ngModel" (ngModelChange)="checkPasswords()"/>
                </p-inputgroup>
                <div *ngIf="confirmPasswordRef.invalid && confirmPasswordRef.touched" class="text-red-500">Поле обязательно для заполнения.</div>
                <div *ngIf="passwordMismatch" class="text-red-500">Пароли не совпадают.</div>
                <div class="mb-5"></div>

                <div class="w-full text-center mb-5">
                    <p-button type="submit" label="СМЕНИТЬ" [raised]="true" severity="contrast" size="large" icon="pi pi-pencil" [disabled]="editPasswordForm.invalid"/>
                </div>
                <div class="w-full text-center text-lg">
                    <a routerLink="/" class="text-black-alpha-90 underline">На главную</a>
                </div>
            </form>
            <p-toast position="top-center"></p-toast>
        </div>
    </div>
</div>